@{
    ViewData["Title"] = "Home Page";
}

<!--
<link rel="stylesheet" href="~/Views/Home/Index.cshtml.css" type="text/css" />

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div><img id="home-header" style="width: 781px; height: 335px" src="~/images/home/home-header.png" alt="Imagem do cabeçalho da Home" /></div>

    <div><<img id="botao-validador" style="width: 781px; height: 219px;" src="~/images/home/botao-validador.png" alt="Botão para página de validação de prescrições" /></div>
    <div><<img id="botao-estudos" style="width: 781px; height: 271px"; src="~/images/home/botao-estudos.png" alt="Alternate Text" /></div>

    <div><<img id="botao-progresso" style="width: 369.5px; height: 271px;" src="~/images/home/botao-progresso.png" alt="Alternate Text" /></div>
    <div><<img id="botao-historico" style="width: 369.5px; height: 271px;" src="~/images/home/botao-historico.png" alt="Alternate Text" /></div>
</div>
-->

<div class="text-center">
    <!-- Home Header Image -->
    <div><img id="home-header" style="width: 781px; height: 335px" src="~/images/home/home-header.png" alt="Imagem do cabeçalho da Home" /></div>

    <!-- Buttons Grid Section -->
    <div class="button-container">
        <div class="button-row">
            <div class="button">
                <img id="botao-validador" style="width: 781px; height: 219px" src="~/images/home/botao-validador.png" alt="Botão para página de validação de prescrições" />
            </div>
            <div class="button">
                <img id="botao-estudos" style="width: 781px; height: 271px" src="~/images/home/botao-estudos.png" alt="Botão para seus estudos" />
            </div>
        </div>
        <div class="button-row">
            <div class="button">
                <img id="botao-progresso" style="width: 369.5px; height: 271px;" src="~/images/home/botao-progresso.png" alt="Botão para progresso" />
            </div>
            <div class="button">
                <img id="botao-historico" style="width: 369.5px; height: 271px;" src="~/images/home/botao-historico.png" alt="Botão para histórico" />
            </div>
        </div>
    </div>
</div>

